@media (min-width: 768px) {
    body {
        background: white;
        background: linear-gradient(142deg, white 0%, white 23%, white 45%, white 69%, rgrgb(255, 255, 255) 0%);
    }

    .pokedex {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        height: 600px;
        border-radius: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: 6px 6px 0px 0px #711010;
        box-shadow: 6px 6px 0px 0px #711010;
    }

    .pokedex__middle {
        background: #b32f2f;
        background: -webkit-gradient(linear, left top, right top, from(#b32f2f), color-stop(50%, #8b0a0a), to(#b50606));
        background: linear-gradient(90deg, #b32f2f 0%, #8b0a0a 50%, #b50606 100%);
        border: 3px solid #8f1111;
        display: block;
        width: 4%;
    }

    .pokedex__leftcard {
        background: rgb(223, 88, 88);
        background: linear-gradient(0deg, rgba(223, 88, 88, 1) 0%, rgba(221, 49, 49, 1) 32%, rgba(200, 26, 26, 1) 61%, rgba(192, 12, 12, 1) 100%);
        width: 47%;
        padding: 5%;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
    }

    .pokedex__middle {
        width: 6%;
    }

    .pokedex__rightcard {
        background: rgb(223, 88, 88);
        background: linear-gradient(0deg, rgba(223, 88, 88, 1) 0%, rgba(221, 49, 49, 1) 32%, rgba(200, 26, 26, 1) 61%, rgba(192, 12, 12, 1) 100%);
        padding: 5%;
        width: 47%;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }

    .pokedex__switch {
        margin-top: 15%;
    }

    .pokedex__screen {
        height: 250px;
        margin-bottom: 15%;
    }

    .pokedex__name--value,
    .pokedex__weight--value,
    .pokedex__height--value {
        -ms-flex-line-pack: center;
        align-content: center;
        padding-top: 60px;
        text-align: center;
        font-size: 20px;
    }
}